<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>@ViewData["Title"]</title>
        <environment include="Development">
            <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
            <link rel="stylesheet" href="~/css/site.min.css" />
        </environment>
        <environment exclude="Development">
            <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
                asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
                asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
            <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
            <link rel="stylesheet" href="~/css/footer.css" asp-append-version="true"  />
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
            <link href="https://fonts.googleapis.com/css?family=Cabin+Condensed" rel="stylesheet">
        </environment>
    </head>
    <body>
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container-fluid topnav">
                <div class="navbar-header">
                    <a class="navbar-brand" asp-controller="Book" asp-action="Index">
                    <img src="~/images/TheBookCaveLogo.jpg" alt="logo.png"></a>
                </div>
                <form class="navbar-form navbar-left searchbar" asp-controller="Book" asp-action="Index" method="POST">
                    <div class="input-group">
                        <input type="text" class="form-control" name="SearchString" placeholder="Looking for a book?">
                        <div class="input-group-btn">
                            <button class="btn btn-default search" type="submit">
                            <i class="glyphicon glyphicon-search"></i>
                            </button>
                        </div>
                    </div>
                </form>
                  <ul class="nav navbar-nav navbar-right">
                     <li><a asp-controller="Cart" asp-action="ShoppingCart"><span style="color:white" class="glyphicon glyphicon-shopping-cart"></span></a></li>
                 </ul>
              @await Html.PartialAsync("_LoginPartial")
            </div>
            <nav class="navbar navbar-inverse bottom">
                <ul class="nav navbar-nav links">
                    <li><a id="list" asp-area="" asp-controller="Book" asp-action="ListOfBooks">Book Catalogue</a></li>
                    <li><a id="top" asp-area="" asp-controller="Book" asp-action="TopTenBooks">Top Ten Books</a></li>
                    <li><a id="new" asp-area="" asp-controller="Book" asp-action="NewBooks">New Arrivals</a></li>
                    <li><a id="about" asp-area="" asp-controller="Book" asp-action="AboutUs">About us</a></li>
                </ul>
            </nav>
        </nav>
        @RenderBody()
        <hr />
        <!--Footer-->
        <footer class="page-footer font-small blue pt-4 mt-4">
            <!--Footer Links-->
            <div class="container-fluid text-center text-md-left">
            <div class="row">
                <!--First column-->
                <div class="col-md-6">
                    <i class="fa fa-envelope"></i> 
                    <span>Lets talk!</span>
                    </br>
                    <a class="contact-us" asp-area="" asp-controller="Book" asp-action="ContactUs">Contact us</a>   
                </div>
                <div class="row">
                    <!--/.Second column-->
                    <div class="col-md-6">
                        <i class="fa fa-users"></i>
                        <span>Who are we?</span>
                        </br>
                        <a class="about-us" asp-area="" asp-controller="Book" asp-action="AboutUs">About us</a>   
                    </div>
                    <div class="social-media">
                        <a href="#" class="fa fa-facebook"></a>
                        <a href="#" class="fa fa-twitter"></a>
                        <a href="#" class="fa fa-instagram"></a>
                    </div>
                    <div class="footer-copyright py-3 text-right">© 2018 The Book Cave</div>
                </div>
            </div>
        </footer>
    </body>
</html>