@using Microsoft.AspNetCore.Identity
@using System.Security.Claims
@using authentication_repo.Models

@inject SignInManager<ApplicationUser> SignInManager

@{
  var claim = ((ClaimsIdentity) User.Identity).Claims.FirstOrDefault(c => c.Type == "Name")?.Value;
}

@if (SignInManager.IsSignedIn(User))
{ 
    <form asp-action="LogOut" asp-controller="User" method="POST">
        <ul class="nav navbar-nav navbar-right">
            <li><button type="submit">Log out</button></li>
        </ul>
    </form>
    <ul class="nav navbar-nav navbar-right">
        <li>
            <a class="btn btn-link navbar-btn navbar-link" asp-controller="User" asp-action="MyProfileView"><button>@claim</button></a>
        </li>
  </ul>
  
}
else
{
  <ul class="nav navbar-nav navbar-right">
        <li><a asp-controller="User" asp-action="SignUp" style="color:white"><span class="glyphicon glyphicon-user" style="color:aqua"></span> Sign Up</a></li>
        <li><a asp-controller="User" asp-action="LogIn" style="color:white"><span class="glyphicon glyphicon-log-in" style="color:aqua"></span> Login</a></li>
      
  </ul>
}




