
@model authentication_repo.Models.ViewModels.RegisterViewModel

@{
    ViewData["Title"] = "Login";
}

<link rel="stylesheet" href="~/css/userslogin.css"/>
<section class="jumbotron text-center">
    <div class="container">
        <h1 class="jumbotron-heading">There is no friend as loyal as a book</h1>
        <p class="lead text-muted">Login</p>
    </div>
</section>
<blockquote class="blockquote text-center">
    <p class="mb-0">“Good friends, good books, and a sleepy conscience: this is the ideal life.”.</p>
    <footer class="blockquote-footer">Mark Twain</footer>
</blockquote>
<form asp-action="Login" aps-controller="User" class="center">
    <fieldset>
        <label for="username">Email: </label>
        <input id="user-login-username" asp-for="Email" type="E-mail" placeholder="Enter email addrfess" name="username"><br>
        <label for="passsword">Password: </label>
        <input id="user-login-password" type="password" placeholder="Enter Password" name="psw"><br>
        <label>
        <input id="user-login-remember" type="checkbox" asp-for="RememberMe" name="remember"> Remember me
        </label> 
         <button id="user-login-cancel" type="submit" class="cancel" asp-action= "UserLoginIndex">Cancel</button>
        <button id="user-login-login" type="submit" class="login" value="Login">Login</button><br>
    </fieldset>
</form>