@model authentication_repo.Models.ViewModels.ProfileViewModel
<link rel="stylesheet" href="~/css/myprofile.css"/>

@{
    ViewData["Title"] = "MyProfile";
}
<h1 class="text">Please enter your new information here: </h1>

<form asp-action="MyProfile" asp-controller="User" class="form-horizontal" method="POST">
    <div class="form-group">
        <input type="text" autofocus="autofocus" class="form-control" asp-for="FirstName" placeholder="Enter your first name here.." value="@Model.FirstName" />
    </div>
    <div class="form-group">
        <input type="text" class="form-control" asp-for="LastName" placeholder="Enter your last name here.." value="@Model.LastName" />
    </div>
    <div class="form-group">
        <input type="text" class="form-control" asp-for="FavoriteBook" placeholder="Enter your favorite book.." value="@Model.FavoriteBook" />
    </div>
    <div class="form-group">
        <input type="number" class="form-control" asp-for="Age" placeholder="Enter your age here.." value="@Model.Age" />
    </div>
    <div class="form-group"> 
        <input onclick="myFunction()" type="submit" class="btn btn-default" value="Update Profile"/>
        <a asp-controller="user" asp-action="MyprofileView"><button type="button" class="btn btn-default">Cancel</button></a>
    </div>
<script>function myFunction() {
    alert("You have succesfully updated your profile.");
}</script>


</form>