@model authentication_repo.Models.ViewModels.RegisterViewModel

@{
    ViewData["Title"] = "Signup";
}

<link rel="stylesheet" href="~/css/userslogin.css"/>
<section class="jumbotron text-center">
    <div class="container">
        <h1 class="jumbotron-heading">Join the BookCave!</h1>
        <p class="lead text-muted">Sign up!</p>
    </div>
</section>
<blockquote class="blockquote text-center">
    <p class="mb-0">“So many books, so little time.”</p>
    <footer class="blockquote-footer">Frank Zappa</footer>
</blockquote>
 <div class="d-flex justify-content-center align-items-center container ">  
   <div class="row ">
    <fieldset>
        <legend>Sign Up</legend>
    <form asp-action="SignUp" asp-controller="User"  class="form-horizontal">
       
    <div class="form-group">

        <label for="input-email">Email address</label>
        <input type="email" asp-for="Email" class="form-control" id="input-email" aria-describedby="emailHelp" placeholder="Enter your email" >
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
     
    </div>
    <div class="form-group">
        <label for="input-password">First Name</label>
        <input type="text" asp-for="FirstName" class="form-control" placeholder="First name">
		<label>Last Name: </label>
        <input type="text" asp-for="LastName"  class="form-control" placeholder="Last name">
		<Label>Password:</Label>
        <input type="password" asp-for="Password" class="form-control"  id="input-password" placeholder="Password">
    </div>

		<button type="submit" class="btn btn-primary" asp-action= "Index">Cancel</button>
        <button type="submit" class="btn btn-primary">Sign Up!</button>
    </form>
    </fieldset>
</div>
</div>
