@model authentication_repo.Models.ViewModels.RegisterViewModel

@{
    ViewData["Title"] = "Login";
}

<link rel="stylesheet" href="~/css/userslogin.css"/>
<section class="jumbotron text-center">
    <div class="container">
        <h1 class="jumbotron-heading">Join the BookCave!</h1>
        <p class="lead text-muted">Sign up!</p>
    </div>
</section>
<blockquote class="blockquote text-center">
    <p class="mb-0">“So many books, so little time.”</p>
    <footer class="blockquote-footer">Frank Zappa</footer>
</blockquote>
<fieldset>
    <form  asp-action="Register" asp-controller="User" class ="signupbox"> 
        <label for="email">Email</label>
        <input type="email" asp-for="Email" placeholder="Enter your email."/>
        <label for="name">Name</label>
        <input type="text" placeholder="First name*"name="name">
        <br>
        <label for="name"></label>
        <input type="text" placeholder="Last name"name="name">
        <br
        <label for="password">Password</label>
        <br>
        <input type="password" placeholder="Enter Password" name="psw">
        <br>
        <button id="user-signup-cancel" type="submit" class="cancel" asp-action= "UserLoginIndex">Cancel</button>
        <button id="user-signup-submit" type="submit" class="signup">Sign Up</button>
    </form>
</fieldset>
