@{
    ViewData["Title"] = "User login";
}
<h1>Hér kemur svo fyrsti login gluggi</h1>

<form action="/action_page.php">
<br>

<button class="user-signin"id ="login" type="submit">Log In</button>
  <br><br>
  <button class="user-signin"id="Signup" type="submit">Sign Up</button>
</form> 
