@{
    ViewData["Title"] = "User login";
}

<div class="user-row">
    <div class= "user-column">
        
        <img src="~/images/book.jpg" alt="book.jpg" class="img-responsive"> 
        <img src="~/images/logo.png" alt="book.jpg" class="img-responsive"> 
    </div>   
    <div class="user-column">
    <h1>Hér kemur svo fyrsti login gluggi</h1>
    </div>
</div>
