@{
    ViewData["Title"] = "ShoppingCart";
}
<link rel="stylesheet" href="~/css/shoppingcart.css" />
 <legend>Your Shopping Cart</legend>

<a asp-controller="cart" asp-action="Step1"><button type=submit>Check Out</button></a>