@{
    ViewData["Title"] = "ShoppingCart";
}
<link rel="stylesheet" href="~/css/step2.css" />
<img class="step"src="~/images/step2.jpg" alt="Step One" width="1200" height="150">
<form class="payment">
  <fieldset>
        <legend>Card Details</legend>
        <ol>
            <li>
                <label for=cardnumber>Card Number:</label>
                <input id=cardnumber name=cardnumber type=text required />
            </li>
            <li>
                <label for=namecard>Name on Card:</label>
                <input id=namecard name=namecard type=text required />
            </li>
            <li>
                <label for=secure>Security Code</label>
                <input id=secure name=secure type=text required> <img src="~/images/CVV.png" alt="Mountain View" width="50" height="25"><img src="~/images/CVV2.png" alt="Mountain View" width="50" height="25">
            </li>
            </li>
            <li>
                <label for=data>Expiration Date:</label> 
                <input id=data name=data type=text placeholder="MM/YY" required />
            </li>
        </ol>
    </fieldset>
     </form>
    <a asp-controller="cart" asp-action="Step1"><button type=submit>Back</button></a>
    <a asp-controller="cart" asp-action="Step3"><button type=submit>Next Step</button></a>
   