@{
    ViewData["Title"] = "About us";
}
 <link rel="stylesheet" href="~/css/site.css" />
<div class= "pic">
    <h1>The Team</h1>
    <img src="~/images/yellow.jpg" alt="Mountain View" width="130" height="150">
    <img src="~/images/black.jpg" alt="Mountain View" width="130" height="150">
    <img src="~/images/pink.jpg" alt="Mountain View" width="130" height="150">
    <img src="~/images/blue.jpg" alt="Mountain View" width="130" height="150">
</div>
<div class="about">
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>
<p class="pp">Lorem ipsum dolor sit amet, usu cu aliquid veritus, audiam consetetur sea id. Quidam quaeque scriptorem pro ut, est dicta audiam ea. An sumo laboramus intellegat vix. Vivendo suscipiantur pri eu. Pri impetus delenit signiferumque ne, cu aeterno integre mei.

Alterum aliquid tibique vel ex, blandit accumsan vim ei. Vix ut prompta oportere senserit, quo elit principes consequat no, quo cu porro elitr mucius. Albucius percipitur in eam, sed vide simul in, movet deserunt sea ad. Eum et integre sapientem voluptatibus. Has ei diam causae, vis sonet oratio ei. Nec cu feugiat qualisque assueverit, ex eos brute oporteat definiebas.</p>

</div>