@{
    ViewData["Title"] = "About us";
}
 <link rel="stylesheet" href="~/css/aboutus.css" />
<div class="container">
    <div class= "pic">
        <h1>The Team</h1>
        <img src="~/images/yellow.jpg" alt="Mountain View">
        <img src="~/images/black.jpg" alt="Mountain View">
        <img src="~/images/pink.jpg" alt="Mountain View">
        <img src="~/images/blue.jpg" alt="Mountain View">
    </div>
    <div class="about">
    <h2>@ViewData["Title"]</h2>
    <h3>@ViewData["Message"]</h3>
    <p class="pp">Lorem ipsum dolor sit amet, usu cu aliquid veritus, audiam consetetur sea id. Quidam quaeque scriptorem pro ut, est dicta audiam ea. An sumo laboramus intellegat vix. Vivendo suscipiantur pri eu. Pri impetus delenit signiferumque ne, cu aeterno integre mei.

    Alterum aliquid tibique vel ex, blandit accumsan vim ei. Vix ut prompta oportere senserit, quo elit principes consequat no, quo cu porro elitr mucius. Albucius percipitur in eam, sed vide simul in, movet deserunt sea ad. Eum et integre sapientem voluptatibus. Has ei diam causae, vis sonet oratio ei. Nec cu feugiat qualisque assueverit, ex eos brute oporteat definiebas.
    Lorem ipsum dolor sit amet, ex vel amet diam perpetua, ex diam vulputate repudiandae vis. Fuisset scriptorem ea nec, choro incorrupte id mea. Ad dolor audiam consequuntur nam. Qui cu prima sonet animal, ceteros invenire vel in. Suas sale tollit pri et, ei duis choro accusamus vim.

Debet feugiat vix cu. Etiam nominavi euripidis quo eu, est tractatos definiebas id. Nostrum legendos vim te. Vix ea aperiam oporteat. Qui lorem facete perfecto cu.

Mel qualisque reprehendunt in, ad unum probo nec. Habeo impedit vis ut, vero persequeris te nam, vim iusto interesset ea. Cum in nibh erat numquam, eleifend quaerendum sea id. At est graeco ponderum hendrerit.

Vim viderer inciderint ad, vix ad alia solet. Quo ei altera essent eruditi, eu eos lucilius recteque salutandi. Aeque harum at vis. Veniam pericula interpretaris pri id, essent eloquentiam an eum.

Duo an graeco facete repudiare. Ut pri simul oporteat, te modus affert nec. Ex solet fierent recusabo cum, ea iriure option detracto cum. Ea has doctus molestie corrumpit, dicunt causae cetero cu pri. Nullam noluisse nec ex, at veri iisque indoctum pro, ludus debitis apeirian te mei.

Sed et modo aliquam probatus, mucius aperiam efficiantur no sed. Sit ex vide oratio repudiare. Has fuisset suscipiantur signiferumque no. Ipsum quaestio accommodare qui ea, no percipit similique eum. Dicant moderatius ea pro, mei graeco doctus dignissim an. Utinam expetenda at ius.

Consul adipiscing ut est, voluptua antiopam eos ut. Ut patrioque mediocritatem vix. Salutandi argumentum definitiones vel ut, ut ludus mandamus consequuntur sed, modus scripta reprehendunt ei ius. Ad eam dolor tantas referrentur.

An qui primis albucius. In saperet blandit vel, per eirmod commune explicari eu, at prima autem dissentias eum. Cu primis commodo alienum his, et sumo nobis recusabo vis. Cum harum luptatum menandri ne.

Ius soleat impedit assueverit at. Ea sumo atomorum definitiones usu. Nec et magna menandri theophrastus, et mundi similique sit, cum labores fierent epicurei ad. Eum brute lorem option te, his quod purto signiferumque an, choro eripuit nostrum id ius. Nec detraxit adolescens intellegebat ei. Enim mutat consulatu est ad.

Cum id utinam tibique petentium, sit no elit tantas denique. An possit euismod eum. Eu per mazim causae assueverit, cum ei populo intellegam, dicta viris efficiendi nec ut. Mea vivendum pericula in, noster tractatos no usu, ut autem dolor duo.</p>

    </div>
</div>
