@{
    ViewData["Title"] = "Contact us";
}

<link rel="stylesheet" href="~/css/site.css" />

<div class="container">
    <h1>Leave us a message</h1>
  <form action="/action_page.php">
    <label for="fname">Full Name *</label>
    <input type="text" id="fname" name="fname" placeholder="Your full name..">

    <label for="email">Email *</label>
    <input class="email"type="email" id="email" name="email" placeholder="Your email address..">

    <label for="Reason">Reason *</label>
    
    <select id="Reason" name="Reason">
      <option value="A">My order</option>
        <option value="B">Incorrect item</option>
        <option value="C">Damaged item</option>
        <option value="D">Payment</option>
        <option value="E">My account</option>
        <option value="F">Other</option>
    </select>

    <label for="subject">Subject *</label>
    <textarea id="subject" name="subject" placeholder="Write something.." style="height:200px"></textarea>

    <input onclick="myFunction()" asp-controller="Book" asp-action="Index" type="submit" value="Send">
  </form>
  <br>
  <p>Don't want to use our form? That's alright! You can email us <a href="contactus@thebookcave.com">here</a></p>

  <script>function myFunction() {
    alert("Thank you for contacting us, we will reply as soon as possible. Have a nice day :)");
}</script>

</div>
