.genre-nav {
  margin-left: 30px;
  position: fixed;
  border: none;
  width: 200px;
  bottom: 55px;

}

.genre-nav input {
  border: none;
  background-color: Transparent;
  color: black;
  display: block;
  padding: 10px;
  font-weight: bold;
  text-decoration: none;
}

.genre-nav input:hover {
  border: none;
  background-color: none;
  color: blue;
}

.genre-nav input:active {
  border: none;
  background-color: none;
  color: blue;
}

.album {
  margin-left: 300px;
  padding-top: inherit;
  padding-bottom: inherit;
  background-color: none;
}
.album2{
    margin-left: 60px;
    padding-top: inherit;
    padding-bottom: inherit;
    background-color: none;

}

.card {
  float: left;
  width: 33.333%;
  padding: .75rem;
  margin-bottom: 2rem;
  border: 0;
}

.card-text {
  font-size: 15px;
  overflow: hidden;
  font-style: italic;
}

.title {
  font-size: 15px;
  font-weight: bold;
}

.card-author {
  font-size: 15px;
  font-weight: bold;
}

.card-rating {
  font-size: 15px;
  font-weight: bold;
}

.card-price {
  font-size: 15px;
  font-weight: bold;
}
.card-genre{
    font-size: 15px;
    font-weight: bold;
}

img {
  border: 1.5px solid black;
  width:150px;
  height:200px;
  border-radius: 8px;
}

label {
  color: black;
  padding: 8px;
  margin-left: 5px;
}

label:hover {
  border: none;
  background-color: none;
  color: blue;
}

.book-sorter {
  color: blue;
}

.book-sorter input {
  border: none;
  background-color: white;
  padding: 8px;
  margin-left: 300px;
  margin-right: -300px;
  color: black;
  font-weight: bold;
  text-decoration: none;
}

.book-sorter input:hover {
  border: none;
  background-color: none;
  color: blue;
}

p.card-text{
    display:none;
}

div.col-md-4{
    width: 200px; 
    height:490px;
    word-wrap: break-word;
    margin: 10px;
    border-radius: 10px;
    padding-top: 3px;
    border-left: dotted 1px gray;
    border-right: dotted 1px gray;
}
.isbn{
    display:none;
}

div.btn-group {
    position: absolute;
    bottom: 30px;

}

button.btn.btn-sm.btn-outline-secondary {
    float: left;
    background-color: black;
    color: white;
    border: solid 3px black;
    border-radius: 10px;
    margin-right: 10px;
    height: auto;
    bottom: 0;

}

button.btn.btn-sm.btn-outline-secondary:hover {
    color: aqua;
    border-radius: 10px;
    border: solid 3px aqua;
    transition: 0.5s;

}
