.card-img-top{
    float: left;
    margin-right: 30px;
}
.title{
padding: 0px,0px, 0px,25px;
}


.col-sm{
    width: 1200px;
    height: 550px;
    border: none;
    word-wrap: break-word;
    margin-right : 20px;
    margin-left : 20px;
}
div.btn-group a{
    margin: 10px;
}

button.btn.btn-sm.btn-outline-secondary {
    float: left;
    background-color: black;
    color: white;
    border: solid 3px black;
    border-radius: 10px;
    margin-right: 10px;

}

button.btn.btn-sm.btn-outline-secondary:hover {
    color: aqua;
    border-radius: 10px;
    border: solid 3px aqua;
    transition: 0.5s;

}