.card-img-top{
    float: left;
    padding: 0px 50px 200px 25px;
}
.title{
padding: 0px,0px, 0px,25px;
}


.card-text{
    width: 1000px;
    border: none;
    word-wrap: break-word;
}
div.btn-group a{
    margin: 10px;
}