h1{
    text-align: center;
}
.header_1 img{
    margin: 30px;
    float: left;
}
.col-sm{
    height: 400px;
    margin: 20px;
}
button.btn.btn-sm.btn-outline-secondary {
    float: left;
    background-color: black;
    color: white;
    border: solid 3px black;
    border-radius: 10px;
    margin-right: 10px;
    height: auto;
    bottom: 0;

}

button.btn.btn-sm.btn-outline-secondary:hover {
    color: aqua;
    border-radius: 10px;
    border: solid 3px aqua;
    transition: 0.5s;

}