legend{
    height: 450px;
    text-align: center;
}

button {
    float: left;
    background-color: black;
    color: white;
    border: solid 3px black;
    border-radius: 10px;
    margin-left: 10px;

}

button:hover {
    color: aqua;
    border-radius: 10px;
    border: solid 3px aqua;
    transition: 0.5s;

}
