*{
    margin: 0; 
    padding: 0;
}

.user-signin {
    background-color: rgb(151, 172, 194);
    border: none;
    color:white;
    padding: 14px 20px;
    text-align:center;
    font-size: 14px;
    cursor: pointer;
    width: 25%;
    border-radius: 12px;
}

.cancel{
    background-color:red;
    color: white;
    padding: 14px 20px;
    margin: 8px 0px;
    border: none;
    cursor: pointer;
    width: 10%;
    opacity: 0.9;
}
.signup{
	background-color:green;
    color: white;
    padding: 14px 20px;
    margin: 8px 0px;
    border: none;
    cursor: pointer;
    width: 10%;
    opacity: 0.9;
}

button:hover {
    opacity: 0.8;
}

.signupbox{
    text-align: center;
}
.login{
    background-color:green;
    color: white;
    padding: 14px 20px;
    margin: 8px 0px;
    border: none;
    cursor: pointer;
    width: 10%;
    opacity: 0.9;
}
.center{
    text-align: center;
}
.a{
    text-align:center;
}